{% load static %}
<!-- Carousel -->
<div id="carousel" class="carousel slide" data-bs-ride="carousel">

    <!-- Indicators/dots -->
    <div class="carousel-indicators">
        {% for img in carousel_images %}
            <button type="button" data-bs-target="#carousel" data-bs-slide-to="{{ forloop.counter0 }}"
                {% if forloop.first %}
                    class="active"
                {% endif %}
                >
            </button>
        {% endfor %}
    </div>

    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
        {% for img in carousel_images %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{% static img %}" alt="Imagem {{ forloop.counter }}" class="d-block w-100" style="max-height:1000px; object-fit:cover;">
            </div>
        {% endfor %}
    </div>

    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
    </button>
</div>
